*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/build
/captures
.externalNativeBuild
.idea
build/
gradlew
gradle/
settings.gradle.kts
gradlew.bat
build.gradle.kts
gradle.properties

